<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head"></head>
    <body class="bg-dark bg-opacity-10">
        <!-- Top Navigation Bar-->
        <div th:replace="fragments/navigation :: top-navigation"></div>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar Menu -->
            <div th:replace="fragments/navigation :: sidebar"></div>
            <div id="page-content-wrapper">
                <div class="container-fluid">

                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Expressions of Interest</li>
                        </ol>
                    </nav>
                    <!-- Pending Expressions Of Interest Table-->
                    <h1 class="text-center m-3">Expressions of Interest</h1>    
                    <div th:replace="fragments/expressions-of-interest-tables :: partner-pending-expressions-of-interest"></div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/scripts"></div>
    </body>
</html>