<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<link th:href="@{~/css/portal-styles.css}" rel="stylesheet" />
<body>
<!-- Top Navigation Bar -->
<div th:replace="fragments/navigation :: top-navigation"></div>

<div class="d-flex" id="wrapper">
  <!-- Sidebar Menu -->
  <div th:replace="fragments/navigation :: sidebar"></div>
  <div id="page-content-wrapper">
    <div class="container-fluid">

      <!-- breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2">
          <li class="breadcrumb-item"><a th:href="@{/}" style="text-decoration: underline;">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Marketplace</li>
        </ol>
      </nav>

      <h1 class="text-center m-3 text-style">Jobs & Placements</h1>

      <div th:replace="fragments/marketplace-tables :: partner-jobs"></div>
      </br>
      </br>
      <div th:replace="fragments/marketplace-tables :: partner-placements"></div>
      </br>
      </br>
      <div class="d-grid col-md-3 gap-2 mx-auto">
        <a class="btn form-button" th:href="@{~/partner/new-position?type=Placement}">Create New Placement</a>
        <a class="btn form-button" th:href="@{~/partner/new-position?type=Job}">Create New Job</a>
        <a class="btn form-button" th:href="@{~/partner/expressions-of-interest}">View Expressions Of Interest</a>
      </div>

    </div>
  </div>
</div>
<div th:replace="fragments/scripts"></div>

</body>

</html>