<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
<body onload="showFragment(null)">

<div th:replace="fragments/navigation :: top-navigation"></div>
<div>
    <div class="w-25 mx-auto mt-3" style="position:relative">
        <!-- Select the user type -->
        <label for="positionTypes" class="form-label mb-3 center">Select the position type:</label>
        <select class="form-select" id="positionTypes" onchange="showFragment(this.value)">
            <option th:each="opt : ${positionOptions}"
                    th:text="${opt}"
                    th:value="${opt}">
            </option>
        </select>
        <hr>
    </div>
</div>
<!-- Each of the 3 registration forms -->
<div th:replace="fragments/position-forms  :: job-form"></div>
<div th:replace="fragments/position-forms  :: placement-form"></div>
</body>
<script>

    //Show only the type passed, hide all else
    function showFragment(positionType) {
        document.getElementById("job-form").hidden = (positionType != "Job")
        document.getElementById("placement-form").hidden = (positionType != "Placement")
        document.getElementById("position-form").hidden = (positionType != "Select...")
    }

</script>
</html>