<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<link th:href="@{~/css/forum.css}" rel="stylesheet" />
<body>
<!-- Top Navigation Bar -->
<div th:replace="fragments/navigation :: top-navigation"></div>
<div class="d-flex" id="wrapper">

  <!-- Sidebar Menu -->
  <div th:replace="fragments/navigation :: sidebar"></div>

  <div id="page-content-wrapper">

    <div class="container-fluid">
      <!-- breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Forum</li>
        </ol>
      </nav>

      <div th:replace="fragments/forum :: create-post-button"></div>
      <div th:replace="fragments/forum :: category-overview"></div>

    </div>
  </div>
</div>
<div th:replace="fragments/scripts"></div>
</body>
</html>
