<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head"></head>
    <div th:replace="fragments/navigation :: top-navigation"></div>
<div class="w-50 mx-auto">
    <body class="bg-dark bg-opacity-10">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5 form container">
                <div class="col-lg-6">
                    <h1 class="display-4 header-style center">Contact Us</h1>
                    <p class="center"><br>Contact the team for help with any enquiries. </p>
                    <hr>
                    <span class="center"><img src="assets/icons/telephone.svg" class="icon-size"/></span>
                    <p class="center">0494 644 648</p>
                    <span class="center"><img src="assets/icons/envelope.svg" class="icon-size"/></span>
                    <p class="center">projectwilma@mail.com</p>
                    <hr>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="assets/wilma-outline.png" alt="coding image" class="img-fluid" style="height:300px;"></div>
            </div>
        </div>      
    </body>
</div>
</html>