<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head"></head>
    <link th:href="@{~/css/index.css}" rel="stylesheet" />

    <body class="bg-dark bg-opacity-10">
        <div th:replace="fragments/navigation :: top-navigation"></div>
            <div class="position-absolute top-50 start-50 translate-middle p-2 m-6 size">
                <div id="homepageCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#homepageCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#homepageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#homepageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src ="assets/students.jpg" class="d-block w-100" alt="..." />
                                <div class="carousel-caption d-none d-md-block tinted">
                                    <h5>Your Uni... Your Community</h5>
                                    <p>University placements and beyond!</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/placement.jpg" class="d-block w-100" alt="..." />
                                <div class="carousel-caption d-none d-md-block tinted">
                                    <h5>Live Placement Offers</h5>
                                    <p>See live placement offers in your field!</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/job.jpg" class="d-block w-100" alt="..." />
                                <div class="carousel-caption d-none d-md-block tinted">
                                    <h5>Real-time Job Vacancies</h5>
                                    <p>Apply for jobs matched perfectly to your degree!</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#homepageCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#homepageCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
                <hr>
                <div class="center">
                    <p class="sign-up-text">"Organising student placements has never been this easy."</p>
                    <br>
                </div>
                <div class="center">
                    <a type="button" class="btn btn-primary sign-up-button" th:href="@{/register}">Sign Up Free Today!</a>
                </div>
                <hr>
            </div>
        <div th:replace="fragments/scripts"></div>
    </body>

</html>