<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<link th:href="@{~/css/portal-styles.css}" rel="stylesheet" />
<link th:href="@{~/css/forum.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{~/js/multiselect-dropdown.js}"></script>
<body>
<!-- Top Navigation Bar -->
<div th:replace="fragments/navigation :: top-navigation"></div>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar Menu -->
        <div th:replace="fragments/navigation :: sidebar"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <!-- breadcrumb -->
                <nav aria-label="breadcrumb" th:switch="${#strings.toLowerCase(type)}">
                    <ol th:case="null" class="breadcrumb mt-2">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Marketplace</li>
                    </ol>
                    <ol th:case="job" class="breadcrumb mt-2">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{marketplace}">Marketplace</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Job Details</li>
                    </ol>
                    <ol th:case="placement" class="breadcrumb mt-2">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{marketplace}">Marketplace</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Placement Details</li>
                    </ol>
                </nav>
                <h1 class="text-center m-3 text-style">Jobs & Placements</h1>

                <!-- Switch fragment depending on the position type -->
                <div id="fragment-container" th:switch="${#strings.toLowerCase(type)}">
                    <div th:case="null" th:insert="fragments/marketplace-tables :: approvedStudent"></div>
                    <div th:case="job" th:insert="fragments/position-details :: job-view"></div>
                    <div th:case="placement" th:insert="fragments/position-details :: placement-view"></div>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="fragments/scripts"></div>

</body>

</html>