<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<!-- Top Navigation Bar -->
<div th:replace="fragments/navigation :: top-navigation"></div>
<div class="d-flex" id="wrapper">

  <!-- Sidebar Menu -->
  <div th:replace="fragments/navigation :: sidebar"></div>

  <div id="page-content-wrapper">

    <div class="container-fluid">
      <!-- breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Resume Management</li>
        </ol>
      </nav>
      <div class="container">
        <div class="row">
            <!-- Dropzone -->
                <div class="w-50 mx-auto pt-5 mb-3">
                  <h1 class="text-style center">File Upload</h1>
                  <div id="dropzone">
                    <div class="dropbox-border">
                    <form th:action="@{/student/resume-management}" class="dropzone needsclick" id="drop-form">
                      <div class="dz-message needsclick ">
                        <button type="button" class="dz-button">Drop files here or click to upload.</button>
                        <br />
                      </div>
                      </div>
                    </form>
                    <small class="text-center" th:text="| Maximum file size: ${sizeLimit}|"></small>
                    <div class="mt-2 center">
                      <button class ="form-button" onClick="window.location.reload();">Upload</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </br>
            <!-- Dropzone -->


            <!-- file table-->
            <div class="upload-table-center">
          <div class="row">
            <div class="row table-container">
              <table class="table table-sm table-primary table-striped table-hover">
                <thead>
                <tr>
                  <th class="text-center">File Name</th>
                  <th class="text-center">Upload Date</th>
                  <th class="text-center">Open</th>
                  <th class="text-center">Download</th>
                  <th class="text-center">Delete</th>
                </tr>
                </thead>
                <tr th:each="doc : ${documents}" class="text-center">
                  <td><span th:text="${doc.filename}"  class="text-center"> name </span></td>
                  <td th:text="${#dates.format(doc.uploadDate, 'dd/MM/yyyy')}" class="mt-2"></td>
                  <td class="text-center">
                      <a role="button" th:target="_blank" th:href="@{open?documentId={id}(id=${doc.id})}" class="btn btn-default btn" title="Open">
                          <span class="material-symbols-rounded ">open_in_new</span>
                      </a>
                  </td>
                  <td class="text-center">
                      <a role="button" th:href="@{download?documentId={id}(id=${doc.id})}" class="btn btn-default btn" title="Download">
                          <span class="material-symbols-rounded" aria-hidden="true">Download</span>
                      </a>
                  </td>
                  <td class="text-center">
                      <a role="button" th:href="@{delete?documentId={id}(id=${doc.id})}" class="btn btn-default btn" title="Delete">
                          <span class="material-symbols-rounded" aria-hidden="true">Delete</span>
                      </a>
                  </td>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" rel="stylesheet"/>

<script>
        Dropzone.autoDiscover = false;

        $("#drop-form").dropzone({
            success: function (file, response) {
                console.log(file.filename + " uploaded successfully");
            },
        });
</script>

</body>
</html>