<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
<body>
<div th:replace="fragments/navigation :: top-navigation"></div>

<div class="d-flex" id="wrapper">
  <!-- Sidebar Menu -->
  <div th:replace="fragments/navigation :: sidebar"></div>
  <div id="page-content-wrapper">
    <div class="container-fluid">

      <!-- breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item"><a th:href="@{/educator/marketplace}">Marketplace</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Position</li>
        </ol>
      </nav>
      <div class="form-border center-form mb-3">
      <h1 class="text-center m-3 text-style" th:text="'Edit ' + ${type} + ': ' + ${id}">Title</h1>

      <!-- Edit position forms -->
      <div id="edit-position-forms" th:switch="${#strings.toLowerCase(type)}">
        <div th:case="job" th:insert="fragments/position-forms  :: educator-edit-job-form"></div>
        <div th:case="placement" th:insert="fragments/position-forms  :: educator-edit-placement-form"></div>
      </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>