
<!-- [x] Expressions of Interest that are still open to be filled by a Partner -->
<div th:fragment="pending-expressions-of-interest" id="pending-expressions-of-interest" xmlns:th="http://www.thymeleaf.org">
    
    <div class="row mb-1">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <h1 class="table-heading text-style">Pending</h1>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-6"><input class="form-control form-border" id="pendingAcceptanceFilter" type="text" name="keyword" placeholder="Filter Expressions of Interest..." /> </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-3"><a class="form-button center p-2" th:href="@{~/educator/new-expression-of-interest}" style="text-decoration: none;"> Add New Expression of Interest</a></div>
    </div>
    
    <div class="row table-container m-2">
        <table class="table table-sm table-primary table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Date Opened</th>
                    <th class="text-center">Manage</th>
                </tr>
            </thead>
            <tbody id="openExpressionsOfInterestData">
                <tr th:each="openEOI : ${openExpressionsOfInterest}">
                    <th scope="row" th:text="${openEOI.id}"></th>
                    <td th:text="${openEOI.category}">Microsoft</td>
                    <td th:text="${openEOI.location}">Brisbane</td>
                    <td th:text="${openEOI.description}">Slavery with extra steps</td>
                    <td th:text="${#dates.format(openEOI.date, 'dd/MM/yyyy')}">01/01/2022</td>
                    <td class="text-center align-middle">
                        <div class="mx-auto">
                            <a th:href="@{~/educator/edit-expression-of-interest?id={eid}( eid=${openEOI.id} )}" class="material-symbols-rounded btn-edit" title="Edit">edit</a>
                            <a th:href="@{~/educator/delete-expression-of-interest?id={id}( id=${openEOI.id} )}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <script th:inline="javascript">
            /*<![CDATA[*/
            var pendingExpressionsOfInterest =
                /*[[${pendingExpressionsOfInterest}]]*/
                /*]]>*/
                $("#pendingAcceptanceFilter").on("keyup", function () {
                    var value = $(this).val();
                    var table = document.getElementById("openExpressionOfInterestData");
                    var filteredData = educatorFilterPositions(value, positions);
                    rebuildEducatorPositionsTable(filteredData, table);
                });
        </script>
    </div>
    <hr/>

</div>

<!-- [x] Partner can view and apply for Expressions of Interest that are still open. -->
<div th:fragment="partner-pending-expressions-of-interest" id="partner-pending-expressions-of-interest" xmlns:th="http://www.thymeleaf.org">
    
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3"><h1 class="table-heading">Pending</h1></div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6"><input class="form-control form-border" id="pendingEOIFilter" type="text" name="keyword" placeholder="Filter Expressions of Interest..." /> </div>
        <div class="col-md-1 col-xl-3"></div>
    </div>
    
    <div class="row table-container">
        <table class="table table-primary table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Date Opened</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody id="partnerOpenExpressionsOfInterestData">
                <tr th:each="openEOI : ${openExpressionsOfInterest}" class="m-2">
                    <th scope="row" th:text="${openEOI.id}"></th>
                    <td th:text="${openEOI.category}">Microsoft</td>
                    <td th:text="${openEOI.location}">Brisbane</td>
                    <td th:text="${openEOI.description}">Slavery with extra steps</td>
                    <td th:text="${#dates.format(openEOI.date, 'dd/MM/yyyy')}">01/01/2022</td>
                    <td class="text-center align-middle">
                        <div class="mx-auto">
                            <a th:href="@{~/partner/new-placement-from-eoi?id={eid}( eid=${openEOI.id} )}" class="form-button p-2" title="Submit Application">Submit Application</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <script th:inline="javascript">
            /*<![CDATA[*/
            var openExpressionsOfInterestList =
                /*[[${openExpressionsOfInterest}]]*/
                /*]]>*/
                $("#pendingEOIFilter").on("keyup", function () {

                    var value = $(this).val();

                    let filteredData = [];
                    for (let i = 0; i < openExpressionsOfInterestList.length; i++) {
                        value = value.toLowerCase();
                        let id = openExpressionsOfInterestList[i].id;
                        let category = openExpressionsOfInterestList[i].category.toLowerCase();
                        let location = openExpressionsOfInterestList[i].location.toLowerCase();
                        let description = openExpressionsOfInterestList[i].description.toLowerCase();
                        let date = formatDate(openExpressionsOfInterestList[i].date);
                        

                        if (id == value || category.includes(value) || location.includes(value) || description.includes(value) || date.includes(value)) {
                            filteredData.push(openExpressionsOfInterestList[i]);
                        }
                    }

                    var table = document.getElementById("partnerOpenExpressionsOfInterestData");
                    table.innerHTML = ``;
                    for (let i = 0; i < filteredData.length; i++) {
                        let row = `<tr>
                                        <th scope="row">${filteredData[i].id}</th>
                                        <td>${filteredData[i].category}</td>
                                        <td>${filteredData[i].location}</td>
                                        <td>${filteredData[i].description}</td>
                                        <td>${formatDate(filteredData[i].date)}</td>
                                        <td class="text-center align-middle">
                                            <div class="mx-auto">
                                                ${`<a class="btn form-button" href="/partner/apply-for-expression-of-interest?id=${filteredData[i].id}" title="Apply">Apply</a>`}
                                            </div>
                                        </td>
                                        </tr>`;
                        table.innerHTML += row;
                    }
                });
        </script>
    </div>
    <hr/>

</div>
