<!-- Forum Fragments -->

<!-- Create a new post button -->
<div th:fragment="create-post-button" xmlns:th="http://www.thymeleaf.org">
    <a th:href="@{forum-content?type=post}" class="btn new-post-button">
        <span class="material-symbols-outlined">chat</span>
        <span>Post a New Question</span>
    </a>
</div>

<!-- Forum category overview (home view) -->
<div th:fragment="category-overview" xmlns:th="http://www.thymeleaf.org">

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    General Discussion
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <a class="view-category mx-auto" th:href="@{forum-thread?category=General%20Discussion}">View All<span class="material-symbols-outlined">open_in_new</span></a>
                    <p>
                        This is ugly as crap but some kind of description would go here
                    </p>

                    <div class="recent-posts">
                        <h2>Recent Posts:</h2>
                        <ul class="preview-list">
                            <li class="post-preview">
                                <a href="#">This post title is fine because it's short</a>
                            </li>
                            <li class="post-preview">
                                <a href="#">But this post title is excessively long and would extend beyond the bounds
                                    of our "recent
                                    posts" container</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- Only here for demo purposes -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                    Resume Help Q&A
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>
                        This is ugly as crap but some kind of description would go here
                    </p>

                    <div class="recent-posts">
                        <h2>Recent Posts:</h2>
                        <ul class="preview-list">
                            <li class="post-preview">
                                <a href="#">This post title is fine because it's short</a>
                            </li>
                            <li class="post-preview">
                                <a href="#">But this post title is excessively long and would extend beyond the bounds
                                    of our "recent
                                    posts" container</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form for creating a new forum post -->
<div th:fragment="post-form" th:class="${contentType == 'post'}? '' : 'hidden'" xmlns:th="http://www.thymeleaf.org">

    <h1 class="text-center">Post</h1>
    <form>
        <script type="text/javascript" th:src="@{~/js/multiselect-dropdown.js}"></script>
        <link th:href="@{~/css/forum.css}" rel="stylesheet"/>

        <div class="row p-3 pb-0">
            <div class="col-6">
                <label for="categoryOptions" class="form-label">Category</label>
                <select class="select-box" id="categoryOptions">
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option>
                    <option value="Category 3">Category 3</option>
                </select>
            </div>

            <div class="col-6">
                <label for="tag-multi-select" class="form-label">Tags</label>
                <select class="select-box" id="tag-multi-select" multiple multiselect-search="true"
                        multiselect-select-all="true">
                    <option value="Tag 1">Tag 1</option>
                    <option value="Tag 2">Tag 2</option>
                    <option value="Tag 3">Tag 3</option>
                </select>
            </div>
        </div>

        <div class="row p-3 pt-0">
            <label for="post-content" class="form-label">Content</label>
            <textarea class="post-content form-floating" id="post-content" rows="5"></textarea>
        </div>

        <div class="form-group mb-3 text-center">
            <button type="submit" class="btn form-button btn-success">Post</button>
            <button type="reset" class="btn form-button btn-danger">Cancel</button>
        </div>
    </form>
</div>

<!-- Form for creating a new reply -->
<div th:fragment="reply-form" th:class="${contentType == 'reply'}? '' : 'hidden'" xmlns:th="http://www.thymeleaf.org">

    <h1 class="text-center">Reply</h1>
    <form>
        <div class="row p-3 pt-0">
            <label for="reply-content" class="form-label"><b>Replying to Tommy:</b> <i>[Post Title]</i></label>
            <textarea class="post-content form-floating" id="reply-content" rows="5"></textarea>
        </div>

        <div class="form-group mb-3 text-center">
            <button type="submit" class="btn form-button btn-success">Reply</button>
            <button type="reset" class="btn form-button btn-danger">Cancel</button>
        </div>
    </form>
</div>

<!-- Category thread is shown when a user explores a forum category, it shows all the posts (and their replies) that have the chosen category -->
<div th:fragment="category-thread" xmlns:th="http://www.thymeleaf.org">

    <h1 class="text-center" th:text="${category}">Category Title</h1>
    <div class="accordion" id="categoryThread">
        <div class="accordion-item">
            <h2 class="accordion-header" id="categoryOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionComments" aria-expanded="true" aria-controls="accordionComments">
                    Post Title
                </button>
            </h2>
            <div id="accordionComments" class="accordion-collapse collapse show" aria-labelledby="categoryOne"
                 data-bs-parent="#categoryThread">
                <div class="accordion-body">
                    <div class="subtitle">
                        The post body information<br/>
                        <small>Date & time - <b>Tommy</b></small><br/>
                        <a class="reply-link" th:href="@{forum-content?type=reply}" title="Reply"><span class="material-symbols-outlined">reply</span>Reply</a>
                    </div>
                    <!-- Comments -->
                    <div class="reply">
                        Reply 1
                        <br/><small>Date & time - <b>Chad</b></small>
                    </div>
                    <div class="reply">
                        Reply 2
                        <br/><small>Date & time - <b>Dave</b></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="categoryTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionComments2" aria-expanded="true" aria-controls="accordionComments2">
                    Post Title
                </button>
            </h2>
            <div id="accordionComments2" class="accordion-collapse collapse show" aria-labelledby="categoryTwo"
                 data-bs-parent="#categoryThread">
                <div class="accordion-body">
                    <div class="subtitle">
                        The post body information<br/>
                        <small>Date & time - <b>Tommy</b></small><br/>
                        <a class="reply-link" th:href="@{forum-content?type=reply}" title="Reply"><span class="material-symbols-outlined">reply</span>Reply</a>
                    </div>
                    <!-- Comments -->
                    <div class="reply">
                        Reply 1
                        <br/><small>Date & time - <b>Chad</b></small>
                    </div>
                    <div class="reply">
                        Reply 2
                        <br/><small>Date & time - <b>Dave</b></small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


