<!-- Create a new post button -->
<div th:fragment="create-post-button" xmlns:th="http://www.thymeleaf.org">
  <a th:href="@{forum/content}" class="btn new-post-button">
    <span class="material-symbols-outlined">chat</span>
    <span>Post a New Question</span>
  </a>
</div>

<!-- Forum category overview -->
<div th:fragment="category-overview" xmlns:th="http://www.thymeleaf.org">

  <!-- This will become the th:each item -->
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            General Discussion
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            This is ugly as crap but some kind of description would go here
          </p>

          <div class="recent-posts">
            <h2>Recent Posts:</h2>
            <ul class="preview-list">
              <li class="post-preview">
                <a href="#">This post title is fine because it's short</a>
              </li>
              <li class="post-preview">
                <a href="#">But this post title is excessively long and would extend beyond the bounds of our "recent posts" container</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <!-- Only here for demo purposes -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Resume Help Q&A
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>
            This is ugly as crap but some kind of description would go here
          </p>

          <div class="recent-posts">
            <h2>Recent Posts:</h2>
            <ul class="preview-list">
              <li class="post-preview">
                <a href="#">This post title is fine because it's short</a>
              </li>
              <li class="post-preview">
                <a href="#">But this post title is excessively long and would extend beyond the bounds of our "recent posts" container</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>