
<!-- Jobs & Placements that are still pending approval -->
<div th:fragment="pending-approval" id="pending-approval" th:if="${ not #lists.isEmpty(pendingPositions)}" xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <h1 class="table-heading text-style">Pending Approval</h1>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-6">
            <input class="form-control form-border" id="filterPendingApproval" type="text" name="keyword"
                placeholder="Filter Positions..." />
        </div>
        <div class="col-md-1 col-xl-3"></div>
    </div>

    <div class="row table-container">
        <table class="table table-sm table-primary table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Provider</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th class="text-center">Manage</th>
                </tr>
            </thead>
            <tbody id="pendingApprovalData">
                <tr th:each="pos : ${pendingPositions}">
                    <th scope="row" th:text="${pos.id}"></th>
                    <td th:text="${pos.type}">Job</td>
                    <td th:text="${pos.partner.businessName}">Microsoft</td>
                    <td th:text="${#dates.format(pos.startDate, 'dd/MM/yyyy')}">1/12/2022</td>
                    <td th:text="${#dates.format(pos.endDate, 'dd/MM/yyyy')}">24/12/2022</td>
                    <td th:text="${pos.description}">Just a one month job</td>
                    <td class="text-center align-middle">
                        <div class="mx-auto">
                            <a th:href="@{marketplace-approve?posId={posId} (posId = ${pos.id})}" class="material-symbols-rounded btn-edit" title="Done"><span class="material-symbols-rounded btn-approve">Done</span></a>
                            <a th:href="@{edit-position?type={pType}&id={pid}( pid=${pos.id}, pType=${pos.type} )}" class="material-symbols-rounded btn-edit" title="Edit">edit</a>
                            <a th:href="@{delete-position?positionId={id}( id=${pos.id} )}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var pendingData =
                /*[[${pendingPositions}]]*/
                /*]]>*/
                $("#filterPendingApproval").on("keyup", function () {

                    var value = $(this).val();

                    let filteredData = [];
                    for (let i = 0; i < pendingData.length; i++) {
                        value = value.toLowerCase();
                        let id = pendingData[i].id;
                        let type = pendingData[i].type.toLowerCase();
                        let provider = pendingData[i].partner.businessName.toLowerCase();
                        let startDate = formatDate(pendingData[i].startDate);
                        let endDate = formatDate(pendingData[i].endDate);
                        let description = pendingData[i].description;

                        if (id == value || type.includes(value) || provider.includes(value) ||
                            startDate.includes(value) || endDate.includes(value) || description.includes(value)) {
                            filteredData.push(pendingData[i]);
                        }
                    }

                    var table = document.getElementById("pendingApprovalData");
                    table.innerHTML = ``;
                    for (let i = 0; i < filteredData.length; i++) {
                        let row = `<tr>
                                        <th scope="row">${filteredData[i].id}</th>
                                        <td>${filteredData[i].type}</td>
                                        <td>${filteredData[i].partner.businessName}</td>
                                        <td>${formatDate(filteredData[i].startDate)}</td>
                                        <td>${formatDate(filteredData[i].endDate)}</td>
                                        <td>${filteredData[i].description}</td>
                                        <td class="text-center align-middle">
                                        <div class="mx-auto">
                                            ${` 
                                                <a href="marketplace-approve?posId=${filteredData[i].id}" class="material-symbols-rounded btn-edit" title="Done"><span class="material-symbols-rounded btn-approve">Done</span></a>
                                                <a href="edit-position?type=${filteredData[i].type}&id=${filteredData[i].id}" class="material-symbols-rounded btn-edit" title="Edit">edit</a>
                                                <a href="delete-position?positionId=${filteredData[i].id}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                                            `}
                                            </div>
                                        </td>
                                        </tr>`;
                        table.innerHTML += row;
                    }
                });
        </script>
    </div>

</div>

<!-- pending review -->
<div th:fragment="pending-review" id="pending-review" xmlns:th="http://www.thymeleaf.org" th:if="${ReviewPlacements.?[review == null].isEmpty() and ReviewPlacements.?[reviewViewed == true].isEmpty() }">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <h1 class="table-heading text-style">Pending Review</h1>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-6">
            <input class="form-control form-border" id="filterPendingReview" type="text" name="keyword"
                   placeholder="Filter Positions..." />
        </div>
        <div class="col-md-1 col-xl-3"></div>
    </div>

    <div class="row table-container">
        <table class="table table-sm table-primary table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Provider</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th class="text-center">Manage</th>
            </tr>
            </thead>
            <tbody id="ReviewData">
            <tr th:each="pos : ${ReviewPlacements}" th:if="${pos.review != null and  pos.reviewViewed == false}">
                <th scope="row" th:text="${pos.id}"></th>
                <td th:text="${pos.type}">Job</td>
                <td th:text="${pos.partner.businessName}">Microsoft</td>
                <td th:text="${#dates.format(pos.startDate, 'dd/MM/yyyy')}">1/12/2022</td>
                <td th:text="${#dates.format(pos.endDate, 'dd/MM/yyyy')}">24/12/2022</td>
                <td th:text="${pos.description}">Just a one month job</td>
                <td class="text-center align-middle">
                    <div class="mx-auto">
                        <a  th:href="@{~/educator/view-review?type=Placement&id={pid}( pid=${pos.id} )}" class="material-symbols-rounded btn-edit" title="Done"><span class="material-symbols-rounded btn-approve">Done</span></a>
                        <a th:href="@{~/educator/delete-position?positionId={id}( id=${pos.id} )}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var data =
                /*[[${ReviewPlacements}]]*/
                /*]]>*/
                $("#filterPendingReview").on("keyup", function () {

                    var value = $(this).val();

                    let filteredData = [];
                    for (let i = 0; i < data.length; i++) {
                        value = value.toLowerCase();
                        let id = data[i].id;
                        let type = data[i].type.toLowerCase();
                        let provider = data[i].partner.businessName.toLowerCase();
                        let startDate = formatDate(data[i].startDate);
                        let endDate = formatDate(data[i].endDate);
                        let description = data[i].description;

                        if (id == value || type.includes(value) || provider.includes(value) ||
                            startDate.includes(value) || endDate.includes(value) || description.includes(value)) {
                            filteredData.push(data[i]);
                        }
                    }

                    var table = document.getElementById("ReviewData");
                    table.innerHTML = ``;
                    for (let i = 0; i < filteredData.length; i++) {
                        let row = `<tr>
                                        <th scope="row">${filteredData[i].id}</th>
                                        <td>${filteredData[i].type}</td>
                                        <td>${filteredData[i].partner.businessName}</td>
                                        <td>${formatDate(filteredData[i].startDate)}</td>
                                        <td>${formatDate(filteredData[i].endDate)}</td>
                                        <td>${filteredData[i].description}</td>
                                        <td class="text-center align-middle">
                                        <div class="mx-auto">
                                            <a  th:href="@{~/educator/view-review?type=Placement&id={pid}( pid=${pos.id} )}" class="material-symbols-rounded btn-edit" title="Done"><span class="material-symbols-rounded btn-approve">Done</span></a>
                                            <a th:href="@{~/educator/delete-position?positionId={id}( id=${pos.id} )}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                                        </div>
                                        </td>
                                        </tr>`;
                        table.innerHTML += row;
                    }
                });
        </script>
    </div>

</div>

<!-- Current (approved) Jobs & Placements -->
<div th:fragment="approved" id="approved" xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <h1 class="table-heading text-style">Current</h1>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-6">
            <input class="form-control form-border" id="filterApproved" type="text" name="keyword"
                placeholder="Filter Positions..." />
        </div>
        <div class="col-md-1 col-xl-3"></div>
    </div>

    <div class="row table-container">
        <table class="table table-sm table-primary table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Provider</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th class="text-center">Manage</th>
                </tr>
            </thead>
            <tbody id="approvedData">
                <tr th:each="pos : ${approvedPositions}" th:if="${pos.approved == true and pos.completed == false}">
                    <th scope="row" th:text="${pos.id}"></th>
                    <td th:text="${pos.type}">Job</td>
                    <td th:text="${pos.partner.businessName}">Microsoft</td>
                    <td th:text="${#dates.format(pos.startDate, 'dd/MM/yyyy')}">1/12/2022</td>
                    <td th:text="${#dates.format(pos.endDate, 'dd/MM/yyyy')}">24/12/2022</td>
                    <td th:text="${pos.description}">Just a one month job</td>
                    <td class="text-center align-middle">
                        <div class="mx-auto">
                            <a th:href="@{~/educator/edit-position?type={ptype}&id={pid}( pid=${pos.id}, ptype=${pos.type} )}" class="material-symbols-rounded btn-edit" title="Edit">edit</a>
                            <a th:href="@{~/educator/delete-position?positionId={id}( id=${pos.id} )}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var data =
                /*[[${approvedPositions}]]*/
                /*]]>*/
                $("#filterApproved").on("keyup", function () {

                    var value = $(this).val();

                    let filteredData = [];
                    for (let i = 0; i < data.length; i++) {
                        value = value.toLowerCase();
                        let id = data[i].id;
                        let type = data[i].type.toLowerCase();
                        let provider = data[i].partner.businessName.toLowerCase();
                        let startDate = formatDate(data[i].startDate);
                        let endDate = formatDate(data[i].endDate);
                        let description = data[i].description;

                        if (id == value || type.includes(value) || provider.includes(value) ||
                            startDate.includes(value) || endDate.includes(value) || description.includes(value)) {
                            filteredData.push(data[i]);
                        }
                    }

                    var table = document.getElementById("approvedData");
                    table.innerHTML = ``;
                    for (let i = 0; i < filteredData.length; i++) {
                        let row = `<tr>
                                <th scope="row">${filteredData[i].id}</th>
                                <td>${filteredData[i].type}</td>
                                <td>${filteredData[i].partner.businessName}</td>
                                <td>${formatDate(filteredData[i].startDate)}</td>
                                <td>${formatDate(filteredData[i].endDate)}</td>
                                <td>${filteredData[i].description}</td>
                                <td class="text-center align-middle">
                                    <div class="mx-auto">
                                        ${` 
                                            <a href="edit-position?type=${filteredData[i].type}&id=${filteredData[i].id}" class="material-symbols-rounded btn-edit" title="Edit">edit</a>
                                            <a href="delete-position?positionId=${filteredData[i].id}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                                        `}
                                        </div>
                                </td>
                                </tr>`;
                        table.innerHTML += row;
                    }
                });
        </script>
    </div>

</div>

<!-- current (approved) jobs & placements for students-->
<div th:fragment="approvedStudent" id="approvedStudent" xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <h1 class="table-heading text-style">Current</h1>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-6">
            <input class="form-control form-border" id="filterApprovedStudent" type="text" name="keyword"
                placeholder="Filter Positions..." />
        </div>
        <div class="col-md-1 col-xl-3"></div>
    </div>

    <div class="row table-container">
        <table class="table table-sm table-primary table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Provider</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th class="text-center">View Job & Placement Details</th>
                </tr>
            </thead>
            <tbody id="approvedStudentData">
                <tr th:each="pos : ${allPositions}">
                    <th scope="row" th:text="${pos.id}"></th>
                    <td th:text="${pos.type}">Job</td>
                    <td th:text="${pos.partner.businessName}">Microsoft</td>
                    <td th:text="${#dates.format(pos.startDate, 'dd/MM/yyyy')}">1/12/2022</td>
                    <td th:text="${#dates.format(pos.endDate, 'dd/MM/yyyy')}">24/12/2022</td>
                    <td th:text="${pos.description}">Just a one month job</td>
                    <td class="text-center align-middle">
                        <div class="mx-auto">
                            <!-- Pass the position type and id in the link so the details can be displayed -->
                            <a th:if="${#strings.toLowerCase(pos.type) == 'placement'}" class='btn form-button'
                                th:href="@{marketplace-details?type=placement&id={posId} (posId=${pos.id})}">View
                                Placement</a>
                            <a th:if="${#strings.toLowerCase(pos.type) == 'job'}" class='btn form-button'
                                th:href="@{marketplace-details?type=job&id={posId} (posId=${pos.id})}">View Job</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var approvedStudentDataList =
                /*[[${allPositions}]]*/
                /*]]>*/
            $("#filterApprovedStudent").on("keyup", function () {

                var value = $(this).val();

                let filteredData = [];
                for (let i = 0; i < approvedStudentDataList.length; i++) {
                    value = value.toLowerCase();
                    let id = approvedStudentDataList[i].id;
                    let type = approvedStudentDataList[i].type.toLowerCase();
                    let partner = approvedStudentDataList[i].partner.businessName.toLowerCase();
                    let startDate = formatDate(approvedStudentDataList[i].startDate);
                    let endDate = formatDate(approvedStudentDataList[i].endDate);
                    let description = approvedStudentDataList[i].description.toLowerCase();

                    if (id == value || type.includes(value) || partner.includes(value) ||
                        startDate.includes(value) || endDate.includes(value) || description.includes(value)) {
                        filteredData.push(approvedStudentDataList[i]);
                    }
                }

                var table = document.getElementById("approvedStudentData");
                table.innerHTML = ``;
                for (let i = 0; i < filteredData.length; i++) {
                    let row = `<tr>
                    <th scope="row">${filteredData[i].id}</th>
                    <td>${filteredData[i].type}</td>
                    <td>${filteredData[i].partner.businessName}</td>
                    <td>${formatDate(filteredData[i].startDate)}</td>
                    <td>${formatDate(filteredData[i].endDate)}</td>
                    <td>${filteredData[i].description}</td>
                    <td class="text-center align-middle">
                        <div class="mx-auto">
                            ${filteredData[i].type.toLowerCase() == 'placement' ?
                                `<a class='btn form-button' href="marketplace-details?type=placement&id=${filteredData[i].id}">View Placement</a>` :
                                `<a class='btn form-button' href="marketplace-details?type=job&id=${filteredData[i].id}">View Job</a>`
                            }
                        </div>
                    </td>
                    </tr>`;
                    table.innerHTML += row;
                }
            });
        </script>
    </div>

</div>

<!-- Partner Jobs -->
<div th:fragment="partner-jobs" id="partner-jobs" xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <h1 class="table-heading text-style">Your Jobs</h1>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-6">
            <input class="form-control form-border" id="partnerJobFilter" type="text" name="keyword" placeholder="Filter Positions..." /></div>
        <div class="col-md-1 col-xl-3"></div>
    </div>

    <div class="row table-container">
        <table class="table table-primary table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Status</th>
                <th class="text-center">Manage</th>
            </tr>
            </thead>
            <tbody id="partnerJobsData">
            <tr th:each="job : ${partnerJobs}">
                <th scope="row" th:text="${job.id}"></th>
                <td th:text="${#dates.format(job.startDate, 'dd/MM/yyyy')}">1/12/2022</td>
                <td th:text="${#dates.format(job.endDate, 'dd/MM/yyyy')}">24/12/2022</td>
                <td th:text="${job.description}">Just a one month job</td>
                <td th:text="${job.approved ? 'Approved' : 'Pending'}">Approved</td>
                <td class="text-center align-middle">
                    <div class="mx-auto">
                        <!-- link passes position type as a request param to dynamically load the edit page -->
                        <!-- NB will need to pass id as well -->
                        <a th:href="@{~/partner/edit-position?type=Job&id={jid}( jid=${job.id} )}" class="material-symbols-rounded btn-edit" title="Edit">edit</a>
                        <a th:href="@{~/partner/delete-position?positionId={id}( id=${job.id} )}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var partnerDataList =
                /*[[${partnerJobs}]]*/
                /*]]>*/
                $("#partnerJobFilter").on("keyup", function () {
                    var value = $(this).val();

                    let filteredData = [];
                    for (let i = 0; i < partnerDataList.length; i++) {
                        value = value.toLowerCase();
                        let id = partnerDataList[i].id;
                        let startDate = formatDate(partnerDataList[i].startDate);
                        let endDate = formatDate(partnerDataList[i].endDate);
                        let description = partnerDataList[i].description.toLowerCase();
                        let status = partnerDataList[i].approved ? 'Approved' : 'Pending';

                        if (id == value || startDate.includes(value) || endDate.includes(value) || description.includes(value) || status.toLowerCase().includes(value)) {
                            filteredData.push(partnerDataList[i]);
                        }
                    }

                    var table = document.getElementById("partnerJobsData");
                    table.innerHTML = ``;
                    for (let i = 0; i < filteredData.length; i++) {
                        let row = `<tr>
                                <th scope="row">${filteredData[i].id}</th>
                                <td>${formatDate(filteredData[i].startDate)}</td>
                                <td>${formatDate(filteredData[i].endDate)}</td>
                                <td>${filteredData[i].description}</td>
                                <td>${filteredData[i].approved ? 'Approved' : 'Pending'}</td>
                                <td class="text-center align-middle">
                                    <div class="mx-auto">
                                        ${`<a class="material-symbols-rounded btn-edit" href="edit-position?type=Job&id=${filteredData[i].id}" title="Edit">Edit</a>`}
	                                    ${`<a class="material-symbols-rounded btn-delete" href="delete-position?positionId=${filteredData[i].id}" title="Delete">Delete</a>`}
                                    </div>
                                </td>
                                </tr>`;
                        table.innerHTML += row;
                    }
                });
        </script>
    </div>
</div>


<!-- Partner Placements -->
<div th:fragment="partner-placements" id="partner-placements" xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <h1 class="table-heading text-style">Your Placements</h1>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-6">
            <input class="form-control form-border" id="partnerPlacementsFilter" type="text" name="keyword" placeholder="Filter Positions..." /></div>
        <div class="col-md-1 col-xl-3"></div>
    </div>

    <div class="row table-container">
        <table class="table table-primary table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Status</th>
                <th>Review Status</th>
                <th class="text-center">Manage</th>
            </tr>
            </thead>
            <tbody id="partnerPlacementsData">
            <tr th:each="pla : ${partnerPlacements}">
                <th scope="row" th:text="${pla.id}"></th>
                <td th:text="${#dates.format(pla.startDate, 'dd/MM/yyyy')}">1/12/2022</td>
                <td th:text="${#dates.format(pla.endDate, 'dd/MM/yyyy')}">24/12/2022</td>
                <td th:text="${pla.description}">Just a one month job</td>
                <td th:text="${pla.approved ? 'Approved' : 'Pending'}">Approved</td>
                <td th:text="${#strings.isEmpty(pla.review)? 'Unreviewed' : 'Reviewed' }">true</td>

                <td class="text-center align-middle">
                    <div class="mx-auto">
                        <!-- link passes position type as a request param to dynamically load the edit page -->
                        <!-- NB will need to pass id as well -->
                        <a th:if="${pla.completed} == true AND ${pla.review} == null" th:href="@{add-review?type=Placement&id={pid}( pid=${pla.id} )}" class="btn form-button" >Review</a>
                        <a th:href="@{edit-position?type=Placement&id={pid}( pid=${pla.id} )}" class="material-symbols-rounded btn-edit" title="Edit">edit</a>
                        <a th:href="@{delete-position?positionId={id}( id=${pla.id} )}" class="material-symbols-rounded btn-delete" title="Delete">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <script th:inline="javascript">
                /*<![CDATA[*/
            var partnerPlacementsList =
                /*[[${partnerPlacements}]]*/
                /*]]>*/
                $("#partnerPlacementsFilter").on("keyup", function () {

                    var value = $(this).val();

                    let filteredData = [];
                    for (let i = 0; i < partnerPlacementsList.length; i++) {
                        value = value.toLowerCase();
                        let id = partnerPlacementsList[i].id;
                        let startDate = formatDate(partnerPlacementsList[i].startDate);
                        let endDate = formatDate(partnerPlacementsList[i].endDate);
                        let description = partnerPlacementsList[i].description.toLowerCase();
                        let status = partnerPlacementsList[i].approved ? 'Approved' : 'Pending';
                        let reviewStatus =   partnerPlacementsList[i].review == null ? "Unreviewed" : "Reviewed";
                        if (id == value || startDate.includes(value) || endDate.includes(value) || description.includes(value) || status.toLowerCase().includes(value) || reviewStatus.toLowerCase().includes(value))   {
                            filteredData.push(partnerPlacementsList[i]);
                        }
                    }

                    var table = document.getElementById("partnerPlacementsData");
                    table.innerHTML = ``;
                    for (let i = 0; i < filteredData.length; i++) {
                        let row = `<tr>
                                <th scope="row">${filteredData[i].id}</th>
                                <td>${formatDate(filteredData[i].startDate)}</td>
                                <td>${formatDate(filteredData[i].endDate)}</td>
                                <td>${filteredData[i].description}</td>
                                <td>${filteredData[i].approved ? 'Approved' : 'Pending'}</td>

                                <td>${filteredData[i].review == null ? "Unreviewed" : "Reviewed"}</td>
                                <td class="text-center align-middle">
                                    <div class="mx-auto">
                                        ${filteredData[i].completed && filteredData[i].review == null ? `<a class="btn form-button" href="add-review?type=Placement&id=${filteredData[i].id}">Review</a>` : ``}
                                        ${`<a class="material-symbols-rounded btn-edit" href="edit-position?type=type=Placement&id=${filteredData[i].id}" title="Edit">Edit</a>`}
                                        ${`<a class="material-symbols-rounded btn-delete" href="delete-position?positionId=${filteredData[i].id}" title="Delete">Delete</a>`}
                                    </div>
                                </td>
                                </tr>`;
                        table.innerHTML += row;
                    }
                });
        </script>
    </div>
</div>

<!-- Partner EOIs -->
<div th:fragment="partner-expression-of-interest" id="partner-expression-of-interest" xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
            <h1 class="table-heading">Pending Expressions of Interest</h1>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-6">
            <input class="form-control" id="filterPartnerExpressionOfInterest" type="text" name="keyword"
                placeholder="Filter Positions..." />
        </div>
        <div class="col-md-1 col-xl-3"></div>
    </div>

    <div class="row table-container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th class="text-center">Manage</th>
                </tr>
            </thead>
            <tbody id="partnerExpressionOfInterestData">
                <tr th:each="pos : ${partnerEOIPositions}">
                    <th scope="row" th:text="${pos.id}"></th>
                    <td th:text="${pos.type}">Job</td>
                    <td th:text="${#dates.format(pos.startDate, 'dd/MM/yyyy')}">1/12/2022</td>
                    <td th:text="${#dates.format(pos.endDate, 'dd/MM/yyyy')}">24/12/2022</td>
                    <td th:text="${pos.description}">Just a one month job</td>
                    <td th:text="${pos.approved ? 'Approved' : 'Pending'}">Approved</td>
                    <td class="text-center align-middle">
                        <div class="mx-auto">
                            <span class="material-symbols-rounded btn-edit" title="Edit">edit</span>
                            <span class="material-symbols-rounded btn-delete">delete</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var partnerEOIPositionsList =
                /*[[${partnerEOIPositions}]]*/
                /*]]>*/
                $("#filterPartnerExpressionOfInterest").on("keyup", function () {

                    var value = $(this).val();

                    let filteredData = [];
                    for (let i = 0; i < partnerEOIPositionsList.length; i++) {
                        value = value.toLowerCase();
                        let id = partnerEOIPositionsList[i].id;
                        let type = partnerEOIPositionsList[i].type.toLowerCase();
                        let startDate = formatDate(partnerEOIPositionsList[i].startDate);
                        let endDate = formatDate(partnerEOIPositionsList[i].endDate);
                        let description = partnerEOIPositionsList[i].description.toLowerCase();
                        let status = partnerPlacementsList[i].approved ? 'Approved' : 'Pending';

                        if (id == value || type.includes(value) || startDate.includes(value) || endDate.includes(value) ||
                            description.includes(value)  || status.toLowerCase().includes(value)) {
                            filteredData.push(partnerEOIPositionsList[i]);
                        }
                    }

                    var table = document.getElementById("partnerExpressionOfInterestData");
                    table.innerHTML = ``;
                    for (let i = 0; i < filteredData.length; i++) {
                        let row = `<tr>
                                <th scope="row">${filteredData[i].id}</th>
                                <td>${filteredData[i].type}</td>
                                <td>${formatDate(filteredData[i].startDate)}</td>
                                <td>${formatDate(filteredData[i].endDate)}</td>
                                <td>${filteredData[i].description}</td>
                                <td>${filteredData[i].approved ? 'Approved' : 'Pending'}</td>
                                <td class="text-center align-middle">
                                    <td class="text-center align-middle">
                                    <div class="mx-auto">
                                        ${`<a class="material-symbols-rounded btn-edit" href="/partner/edit-expression-of-interest?id=${filteredData[i].id}" title="Edit"><span class="material-symbols-rounded btn-edit" > edit</span></a>`}
                                        <span class="material-symbols-rounded btn-delete" > delete</span>
                                    </div>
                                </td>
                                </td>
                                </tr>`;
                        table.innerHTML += row;
                    }
                });
        </script>
    </div>
</div>