<nav th:fragment="top-navigation" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
     xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <button class="btn btn-outline-secondary" id="sidebarToggle">Menu</button>
        <a class="navbar-brand" th:href="@{~/}">Wilma</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li th:class="| nav-item ${page == home? 'active':''}|">
                    <a class="nav-link" th:href="@{~/}">Home</a>
                </li>
                <li th:class="| nav-item ${page == register? 'active':''}|">
                    <a class="nav-link" th:href="@{~/register}">Register</a>
                </li>
                <li th:class="| nav-item ${page == about? 'active':''}|">
                    <a class="nav-link" th:href="@{~/about}">About</a>
                </li>
                <li th:class="| nav-item ${page == contact? 'active':''}|">
                    <a class="nav-link" th:href="@{~/contact}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div th:fragment="sidebar" class="border-end bg-white" id="sidebar-wrapper" xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar-heading border-bottom navbar-light bg-light">
        <a class="navbar-brand"></a>
    </div>
    <div class="list-group list-group-flush">
        <a th:class="| list-group-item list-group-item-action list-group-item-light p-3 ${page == 'dashboard'? 'active':''} |"
           th:href="@{dashboard}">
            <span class="material-symbols-outlined">house</span>Dashboard</a>
        <a th:class="| list-group-item list-group-item-action list-group-item-light p-3 ${page == 'marketplace'? 'active':''} |"
           th:href="@{marketplace}">
            <span class="material-symbols-outlined">work</span>Jobs & Placements</a>
        <a th:class="| list-group-item list-group-item-action list-group-item-light p-3 ${page == 'forum'? 'active':''} |"
           th:href="@{forum}">
            <span class="material-symbols-outlined">forum</span>Forum</a>
        <a th:class="| list-group-item list-group-item-action list-group-item-light p-3 ${page == 'resume-management'? 'active':''} |"
           th:href="@{resume-management}">
            <span class="material-symbols-outlined">contact_page</span>Resume Management</a>
        <a th:class="| list-group-item list-group-item-action list-group-item-light p-3 ${page == 'profile'? 'active':''} |"
           th:href="@{profile}">
            <span class="material-symbols-outlined">manage_accounts</span>Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" id="logout-sidebar-bottom"
           th:href="@{~/}">
            <span class="material-symbols-outlined">logout</span>Logout</a>
    </div>
</div>