<!-- Fields for creating a new position -->
<div th:fragment="position-form" xmlns:th="http://www.thymeleaf.org">
  <div class="row p-3 pt-0">
    <label for="position-start-date" class="form-label">Start Date</label>
    <input type="date" class="form-floating user-input" id="position-start-date" th:field="*{startDate}">
  </div>

  <div class="row p-3 pt-0">
    <label for="position-end-date" class="form-label">End Date</label>
    <input type="date" class="form-floating user-input" id="position-end-date" th:field="*{endDate}">
  </div>

<!--  <div class="row p-3 pt-0">-->
<!--    <label for="position-period" class="form-label">Period</label>-->
<!--    <input class="form-floating user-input" id="position-period" th:field="*{period}">-->
<!--  </div>-->

  <div class="row p-3 pt-0">
    <label for="position-location" class="form-label">Location</label>
    <input class="form-floating user-input" id="position-location" th:field="*{location}">
  </div>

  <div class="row p-3 pt-0">
    <label for="position-description" class="form-label">Description</label>
    <textarea class="form-floating user-input" id="position-description" rows="5" th:field="*{description}"></textarea>
  </div>
</div>

<!-- Fields for creating a new job -->
<div th:fragment="job-form" xmlns:th="http://www.thymeleaf.org">
  <div class="row p-3 pt-0">
    <label for="job-pay-rate" class="form-label">Pay Rate</label>
    <input class="form-floating user-input" id="job-pay-rate" th:field="*{payRate}">
  </div>

  <div class="row p-3 pt-0">
    <label for="job-pay-type" class="form-label">Pay Type</label>
    <input class="form-floating user-input" id="job-pay-type" th:field="*{payType}">
  </div>

  <div class="row p-3 pt-0">
    <label for="job-pay-frequency" class="form-label">Pay Frequency</label>
    <input class="form-floating user-input" id="job-pay-frequency" th:field="*{payFrequency}">
  </div>
</div>

<!-- fields for editing position -->
<div th:fragment="edit-position-fields" xmlns:th="http://www.thymeleaf.org">
  <div class="row p-3 pt-0">
    <div class="form-group col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="filledCheck" th:field="*{filled}">
        <label class="form-check-label" for="filledCheck">
          Filled
        </label>
      </div>
    </div>
    <div class="form-group col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="approvedCheck" th:field="*{approved}">
        <label class="form-check-label" for="approvedCheck">
          Approved
        </label>
      </div>
    </div>
  </div>
</div>

<!-- fields for editing placement -->
<div th:fragment="edit-placement-field" xmlns:th="http://www.thymeleaf.org">
  <div class="row p-3 pt-0">
    <div class="form-group col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="completedCheck" th:field="*{completed}">
        <label class="form-check-label" for="completedCheck">
          Completed
        </label>
      </div>
    </div>
  </div>
</div>

<!-- fields for creating EOI -->
<div th:fragment="eoi-form" xmlns:th="http://www.thymeleaf.org">
  <div class="row p-3 pt-0">
    <label for="eoi-category" class="form-label">Category</label>
    <input class="form-floating user-input" id="eoi-category" th:field="*{category}">
  </div>
  <div class="row p-3 pt-0">
    <label for="eoi-location" class="form-label">Location</label>
    <input class="form-floating user-input" id="eoi-location" th:field="*{location}">
  </div>
  <div class="row p-3 pt-0">
    <label for="eoi-description" class="form-label">Description</label>
    <input class="form-floating user-input" id="eoi-description" th:field="*{description}">
  </div>
  <div class="row p-3 pt-0">
    <label for="eoi-date" class="form-label">Date</label>
    <input type="date" class="form-floating user-input" id="eoi-date" th:field="*{date}">
  </div>
</div>

<!-- field for editing EOI -->
<div th:fragment="edit-eoi-field" xmlns:th="http://www.thymeleaf.org">
  <div class="row p-3 pt-0">
    <div class="form-group col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="eoiFilledCheck" th:field="*{filled}">
        <label class="form-check-label" for="eoiFilledCheck">
          Filled
        </label>
      </div>
    </div>
  </div>
</div>

<!-- submit/cancel buttons -->
<div th:fragment="submit-cancel" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group mb-3 text-center">
      <button type="submit" class="btn form-button btn-success">Submit</button>
      <a class="btn form-button btn-danger" th:href="@{/partner/marketplace}">Cancel</a>
    </div>
</div>

<!-- Form for creating a new job -->
<div th:fragment="new-job-form" xmlns:th="http://www.thymeleaf.org" id="new-job-form">
  <form th:action="@{create-job}" th:object="${job}" method="post">
    <div th:replace="fragments/position-forms  :: position-form"></div>
    <div th:replace="fragments/position-forms  :: job-form"></div>
    <div th:replace="fragments/position-forms  :: submit-cancel"></div>
  </form>
</div>

<!-- Form for creating a new placement -->
<div th:fragment="new-placement-form" xmlns:th="http://www.thymeleaf.org" id="new-placement-form">
  <form th:action="@{create-placement}" th:object="${placement}" method="post">
    <div th:replace="fragments/position-forms  :: position-form"></div>
    <div th:replace="fragments/position-forms  :: submit-cancel"></div>
  </form>
</div>

<!-- Form for editing job (partner) -->
<div th:fragment="partner-edit-job-form" xmlns:th="http://www.thymeleaf.org" id="partner-edit-job-form">
  <form th:action="@{~/partner/update-job?id={jid}( jid=${id} )}" th:object="${job}" method="post">
    <div th:replace="fragments/position-forms  :: position-form"></div>
    <div th:replace="fragments/position-forms  :: job-form"></div>
    <div th:replace="fragments/position-forms  :: edit-position-fields"></div>
    <div th:replace="fragments/position-forms  :: submit-cancel"></div>
  </form>
</div>

<!-- Form for editing a placement (partner) -->
<div th:fragment="partner-edit-placement-form" xmlns:th="http://www.thymeleaf.org" id="partner-edit-placement-form">
  <form th:action="@{~/partner/update-placement?id={pid}( pid=${id} )}" th:object="${placement}" method="post">
    <div th:replace="fragments/position-forms  :: position-form"></div>
    <div th:replace="fragments/position-forms  :: edit-position-fields"></div>
    <div th:replace="fragments/position-forms  :: edit-placement-field"></div>
    <div th:replace="fragments/position-forms  :: submit-cancel"></div>
  </form>
</div>

<!-- Form for editing job (educator) -->
<div th:fragment="educator-edit-job-form" xmlns:th="http://www.thymeleaf.org" id="educator-edit-job-form">
  <form th:action="@{~/educator/update-job?id={jid}( jid=${id} )}" th:object="${job}" method="post">
    <div th:replace="fragments/position-forms  :: position-form"></div>
    <div th:replace="fragments/position-forms  :: job-form"></div>
    <div th:replace="fragments/position-forms  :: edit-position-fields"></div>
    <div th:replace="fragments/position-forms  :: submit-cancel"></div>
  </form>
</div>

<!-- Form for editing a placement (educator) -->
<div th:fragment="educator-edit-placement-form" xmlns:th="http://www.thymeleaf.org" id="educator-edit-placement-form">
  <form th:action="@{~/educator/update-placement?id={pid}( pid=${id} )}" th:object="${placement}" method="post">
    <div th:replace="fragments/position-forms  :: position-form"></div>
    <div th:replace="fragments/position-forms  :: edit-position-fields"></div>
    <div th:replace="fragments/position-forms  :: edit-placement-field"></div>
    <div th:replace="fragments/position-forms  :: submit-cancel"></div>
  </form>
</div>

<!-- Form for creating an EOI -->
<div th:fragment="new-eoi-form" xmlns:th="http://www.thymeleaf.org" id="new-eoi-form">
  <form th:action="@{~/educator/create-expression-of-interest}" th:object="${eoi}" method="post">
    <div th:replace="fragments/position-forms  :: eoi-form"></div>
    <div th:replace="fragments/position-forms  :: submit-cancel"></div>
  </form>
</div>

<!-- Form for editing an EOI -->
<div th:fragment="edit-eoi-form" xmlns:th="http://www.thymeleaf.org" id="edit-eoi-form">
  <form th:action="@{~/educator/update-expression-of-interest?id={eid}( eid=${id} )}" th:object="${eoi}" method="post">
    <div th:replace="fragments/position-forms  :: eoi-form"></div>
    <div th:replace="fragments/position-forms  :: edit-eoi-field"></div>
    <div th:replace="fragments/position-forms  :: submit-cancel"></div>
  </form>
</div>

