<!-- Educator profile -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="educator-profile">
    <div th:object="${currentUser}">
        <div class="container ">
            <div class="row no-gutters d-flex justify-content-center">
                <h1 class="text-center text-style m-3"> Profile Information</h1>
                <!-- Profile Picture -->
                <div class="col-md-auto m-3">
                    <div th:if="${currentUser.profileImageId == null}">
                        <img th:src="@{~/assets/marketplace.jpg}" alt="Card image cap" class="rounded" src="" width="250px" height="auto">
                    </div>
                    <div th:unless="${currentUser.profileImageId == null}">
                        <img th:src="@{~/api/v1/files/view-file/{id} (id=${currentUser.profileImageId})}" alt="Card image cap" class="rounded" src="" width="250px" height="auto">
                    </div>
                </div>

                <!-- Profile information -->
                <div class="col-sm-6 m-3">
                    <div class="container">

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Name: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.username}">Username</p>
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Email Address: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.email}">Email Address</p>
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Discipline: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.discipline}">Discipline</p>
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">CQU Educator ID: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.staffId}">Staff ID</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row no-gutters d-flex justify-content-center ">
                <div class="col-sm-9 ">
                    <div class="card center">
                        <div class="card-body form-border">
                            <h5 class="card-title">Bio</h5>
                            <p class="card-text" th:text="${currentUser.bio}">Bio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a type="submit" th:href="@{edit-profile}" class="btn form-button m-3">Edit Profile</a>
            </div>

        </div>
    </div>
</div>

<!-- Edit educator profile -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="edit-educator-profile">

    <form th:action="@{update-profile}" th:object="${currentUser}" method="post" enctype="multipart/form-data">

        <div class="container">
            <div class="row no-gutters d-flex justify-content-center ">
                <h1 class="text-center text-style m-3">Edit Profile Information</h1>
                <!-- Profile Picture -->
                <div class="col-md-auto center mt-2" >
                    <div th:if="${currentUser.profileImageId == null}">
                        <div class="center">
                        <img th:src="@{~/assets/marketplace.jpg}" alt="Card image cap" class="rounded center m-3" src="" width="250px" height="auto">
                        <br/>
                        </div>
                        <div class="text-center">
                            <input type="file" name="file"/><br/>
                            <small><i>Changes will take effect after they are saved</i></small>
                        </div>
                        <br/>
                    </div>
                    <div th:unless="${currentUser.profileImageId == null}">
                        <img th:src="@{~/api/v1/files/view-file/{id} (id=${currentUser.profileImageId})}" alt="Card image cap" class="rounded center m-3" src="" width="250px" height="auto">
                        <br/>
                        <div class="text-center">
                            <input type="file" name="file"/>
                            <small><i>Changes will take effect after they are saved</i></small>
                        </div>
                        <br/>
                    </div>
                </div>

                <!-- Profile information -->
                <div class="col-sm-6 mt-2">
                    <div class="container ">

                        <div class="row border-bottom mt-3">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Name: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.username}"
                                       th:field="*{username}" required minlength="6" maxlength="20">
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Email Address: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.email}"
                                       th:field="*{email}" disabled>
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Discipline: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.discipline}"
                                       th:field="*{discipline}" required>
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">CQU Educator ID: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.staffId}"
                                       th:field="*{staffId}" disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row no-gutters d-flex justify-content-center ">
                <div class="col-sm-9 ">
                    <div class="card center border-0">
                        <div class="card-body">
                            <h5 class="card-title">Bio</h5>
                            <textarea class="w-100 p-2" rows="9" th:value="${currentUser.bio}" th:field="*{bio}" required></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center m-3">
                <button type="submit" class="btn form-button">Update</button>
                <button class="btn form-button" th:onclick="'window.history.go(-1); return false;'">Cancel
                </button>
            </div>

        </div>
    </form>
</div>

<!-- =========================================================================== -->

<!-- Partner profile -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="partner-profile">
    <div th:object="${currentUser}">
        <div class="container ">
            <div class="row no-gutters d-flex justify-content-center">
                <h1 class="text-center text-style m-3"> Profile Information</h1>
                <!-- Profile Picture -->
                <div class="col-md-auto m-3" >
                    <div th:if="${currentUser.profileImageId == null}">
                        <img th:src="@{~/assets/marketplace.jpg}" alt="Card image cap" class="rounded" src="" width="250px" height="auto">
                    </div>
                    <div th:unless="${currentUser.profileImageId == null}">
                        <img th:src="@{~/api/v1/files/view-file/{id} (id=${currentUser.profileImageId})}" alt="Card image cap" class="rounded" src="" width="250px" height="auto">
                    </div>
                </div>

                <!-- Profile information -->
                <div class="col-sm-6 m-3">
                    <div class="container ">

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Name: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.username}">Username</p>
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Email Address: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.email}">Email Address</p>
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Business Name: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.businessName}">Business Name</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row no-gutters d-flex justify-content-center ">
                <div class="col-sm-9 ">
                    <div class="card center">
                        <div class="card-body form-border">
                            <h5 class="card-title text-style">Bio</h5>
                            <p class="card-text" th:text="${currentUser.bio}">Bio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a type="submit" th:href="@{edit-profile}" class="btn form-button m-3">Edit Profile</a>
            </div>

        </div>
    </div>
</div>

<!-- Edit partner profile -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="edit-partner-profile">

    <form th:action="@{update-profile}" th:object="${currentUser}" method="post" enctype="multipart/form-data">

        <div class="container">
            <div class="row no-gutters d-flex justify-content-center ">
                <h1 class="text-center text-style m-3">Edit Profile Information</h1>
                <!-- Profile Picture -->
                <div class="col-md-auto center mt-2" >
                    <div th:if="${currentUser.profileImageId == null}">
                        <div class="center">
                            <img th:src="@{~/assets/marketplace.jpg}" alt="Card image cap" class="rounded center m-3" src="" width="250px" height="auto">
                        </br>
                        </div>
                        <div class="text-center">
                            <input class="center" type="file" name="file"/>
                            <small><i>Changes will take effect after they are saved</i></small>
                        </div>
                    </br>
                    </div>
                    <div th:unless="${currentUser.profileImageId == null}">
                        <img th:src="@{~/api/v1/files/view-file/{id} (id=${currentUser.profileImageId})}" alt="Card image cap" class="rounded center m-3" src="" width="250px" height="auto">
                        <div class="text-center">
                            <input type="file" name="file"/>
                            <small><i>Changes will take effect after they are saved</i></small>
                        </div>
                        <br/>
                    </div>
                </div>

                <!-- Profile information -->
                <div class="col-sm-6 mt-2">
                    <div class="container">

                        <div class="row border-bottom mt-3">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Name: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1 edit-profile-border p-1" th:value="${currentUser.username}"
                                       th:field="*{username}" required minlength="6" maxlength="20">
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Email Address: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.email}"
                                       th:field="*{email}" disabled>
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Business Name: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.businessName}"
                                       th:field="*{businessName}" required>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row no-gutters d-flex justify-content-center ">
                <div class="col-sm-9 ">
                    <div class="card center border-0">
                        <div class="card-body">
                            <h5 class="card-title">Bio</h5>
                            <textarea class="w-100 p-2" rows="9" th:value="${currentUser.bio}" th:field="*{bio}" required></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center m-3">
                <button type="submit" class="btn form-button">Update</button>
                <button class="btn form-button" th:onclick="'window.history.go(-1); return false;'">Cancel
                </button>
            </div>

        </div>
    </form>
</div>

<!-- =========================================================================== -->

<!-- Student profile -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="student-profile">
    <div th:object="${currentUser}">
        <div class="container ">
            <div class="row no-gutters d-flex justify-content-center ">
                <h1 class="text-center text-style m-3"> Profile Information</h1>
                <!-- Profile Picture -->
                <div class="col-md-auto m-3" >
                    <div th:if="${currentUser.profileImageId == null}">
                        <img th:src="@{~/assets/marketplace.jpg}" alt="Card image cap" class="rounded" src="" width="250px" height="auto">
                    </div>
                    <div th:unless="${currentUser.profileImageId == null}">
                        <img th:src="@{~/api/v1/files/view-file/{id} (id=${currentUser.profileImageId})}" alt="Card image cap" class="rounded" src="" width="250px" height="auto">
                    </div>
                </div>

                <!-- Profile information -->
                <div class="col-sm-6 m-3">
                    <div class="container ">

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Name: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.username}">Username</p>
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Email Address: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.email}">Email Address</p>
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Discipline: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.discipline}">Discipline</p>
                            </div>
                        </div>

                        <div class="row border-bottom  mt-2">
                            <div class="col-4">
                                <p class="text-style">CQU Student ID: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${currentUser.studentId}">Student ID</p>
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-4">
                                <p class="text-style">Expected Graduation: </p>
                            </div>
                            <div class="col-5">
                                <p th:text="${#dates.format(currentUser.expectedGraduationDate, 'MMM yyyy')}">Expected Graduation Date</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row no-gutters d-flex justify-content-center ">
                <div class="col-sm-9 ">
                    <div class="card center">
                        <div class="card-body form-border">
                            <h5 class="card-title text-style">Bio</h5>
                            <p class="card-text" th:text="${currentUser.bio}">Bio</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a type="submit" th:href="@{edit-profile}" class="btn form-button m-3">Edit Profile</a>
            </div>

        </div>
    </div>
</div>

<!-- Edit student profile -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="edit-student-profile">

    <form th:action="@{update-profile}" th:object="${currentUser}" method="post" enctype="multipart/form-data">

        <div class="container">
            <div class="row no-gutters d-flex justify-content-center ">
                <h1 class="text-center text-style m-3">Edit Profile Information</h1>
                <!-- Profile Picture -->
                <div class="col-md-auto center mt-2" >
                    <div th:if="${currentUser.profileImageId == null}">
                        <div class="center">
                            <img th:src="@{~/assets/marketplace.jpg}" alt="Card image cap" class="rounded center m-3" src="" width="250px" height="auto">
                        </br>
                        </div>
                    <div class="text-center">
                        <input type="file" name="file"/><br/>
                        <small><i>Changes will take effect after theys are saved</i></small>
                    </div>
                    </br>
                    </div>
                    <div th:unless="${currentUser.profileImageId == null}">
                        <img th:src="@{~/api/v1/files/view-file/{id} (id=${currentUser.profileImageId})}" alt="Card image cap" class="rounded center m-3" src="" width="250px" height="auto">
                    </br>
                        <div class="text-center">
                            <input type="file" name="file"/><br/>
                            <small><i>Changes will take effect after they are saved</i></small>
                        </div>
                    </br>
                    </div>
                </div>

                <!-- Profile information -->
                <div class="col-sm-6 mt-2">
                    <div class="container ">

                        <div class="row border-bottom mt-3">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Name: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.username}"
                                       th:field="*{username}" required minlength="6" maxlength="20">
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Email Address: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.email}"
                                       th:field="*{email}" disabled>
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Discipline: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.discipline}"
                                       th:field="*{discipline}" required>
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">CQU Student ID: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="text" class="w-100 h-auto m-1 p-1" th:value="${currentUser.studentId}"
                                       th:field="*{studentId}" disabled>
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-4 mt-2 pt-2 pb-1">
                                <p class="text-style">Expected Graduation: </p>
                            </div>
                            <div class="col-8 mt-2 mb-1">
                                <input type="date" class="w-100 h-auto m-1 p-1" th:value="${currentUser.expectedGraduationDate}"
                                       th:field="*{expectedGraduationDate}" required>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row no-gutters d-flex justify-content-center ">
                <div class="col-sm-9 ">
                    <div class="card center border-0">
                        <div class="card-body">
                            <h5 class="card-title">Bio</h5>
                            <textarea class="w-100 p-2" rows="9" th:value="${currentUser.bio}" th:field="*{bio}" required></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center m-3">
                <button type="submit" class="btn form-button">Update</button>
                <button class="btn form-button" th:onclick="'window.history.go(-1); return false;'">Cancel
                </button>
            </div>

        </div>
    </form>
</div>
