<!-- Fields for creating a new Review -->
<div th:fragment="review-form" xmlns:th="http://www.thymeleaf.org">
    <div class="row p-3 pt-0">


        <label for="placement-review" class="form-label">Review</label>
        <input class="form-floating user-input" id="placement-review" th:field="*{review}">
    </div>

</div>
<!-- submit/cancel buttons -->
<div th:fragment="submit-cancel" xmlns:th="http://www.thymeleaf.org">
    <div class="form-group mb-3 text-center">
        <button type="submit" class="btn form-button btn-success">Submit</button>
        <a class="btn form-button btn-danger" th:href="@{/partner/marketplace}">Cancel</a>
    </div>
</div>

<div th:fragment="add-review-form" xmlns:th="http://www.thymeleaf.org" id="add-review-form">
    <form th:action="@{~/partner/add-review?id={pid}( pid=${id} )}" th:object="${placement}" method="post">
        <div th:replace="fragments/review-forms  :: review-form"></div>
        <div th:replace="fragments/review-forms  :: submit-cancel"></div>
    </form>
</div>