<!-- Student Form -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="studentForm">

    <div class="w-50 mx-auto">
        <form
            id="student-form"
            class="row g-3 border form-border mt-3"
            th:action="@{/register}"
            method="post">

            <div class="form-icon center mt-3">
                <span><i class="icon icon-user"></i></span>
            </div>

            <input type="hidden" name="userType" value="STUDENT">
            <div class="col-12"></div>
            <div class="col-md-5 ms-5 m-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="username">
            </div>
            <div class="col-md-6"></div>
            <div class="col-5 ms-5 me-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" aria-describedby="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="col-5 ms-5 m-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="password">
                <small id="passwordHelp" class="form-text text-muted">
                    Must be 8-20 characters long.
                </small>
            </div>
            <div class="col-md-5 ms-5 m-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="firstName">
            </div>
            
            <div class="col-md-5 ms-5 m-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="lastName">
            </div>
            <div class="col-md-3 ms-5 m-3">
                <label for="contactNumber" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="contactNumber" aria-describedby="contactNumber">
            </div>
            
            <div class="col-md-4 ms-5 m-3">
                <label for="discipline" class="form-label">Discipline</label>
                <select class="form-select" aria-label="discipline" id="discipline">
                    <option selected>Select...</option>
                    <option value="Software Development">Software Development</option>
                    <option value="Networking">Networking</option>
                    <option value="Business Analysis">Business Analysis</option>
                    <option value="Project Management">Project Management</option>
                </select>
            </div>
            <div class="col-md-2 ms-5 m-3">
                <label for="studentId" class="form-label">CQU Student ID</label>
                <input type="text" class="form-control" id="studentId" aria-describedby="studentId">
            </div>
            <div class="form-group m-3 text-center">
                <button type="submit" class="btn form-button">Register</button>
            </div>
        </form>
    </div>
    <div class="mt-3"></div>
</div>
