.form-border {
    border-color: #003057 !important;
    border-radius: 10px;
}

.form-button {
    background-color: #003057 !important;
    border-radius: 10px;
    color: #FFFFFF;
}
.form-style:focus {
    border-color: #003057 !important;
    color: #003057 !important;
}

.center {
    display: flex;
    justify-content: center;
}

.registration-form {
    position: absolute;
}

.form-icon {
    text-align: center;
    background-color: #003057;
    border-radius: 50%;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    line-height: 100px;
}

#form-container {
    width: 100%;
    text-align: center;
}
#form {
    display: inline-block;
}