.form-border {
    border-color: #003057 !important;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

.form-button {
    background-color: #003057 !important;
    border-radius: 10px;
    color: #FFFFFF !important;
}
.form-style {
    border-color: #003057 !important;
    color: #003057 !important;
}

.center-form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center-forum {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.center-student-details-form {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.registration-form {
    position: absolute;
}

.text-style {
    color: #003057;
}
.header-style {
    color: #003057;
    font-style: bold;
}

.icon-size {
    height: 25px;
    width: 25px;
}

.form-icon {
    text-align: center;
    background-color: #003057;
    border-radius: 50%;
    color: white;
    width: 100px !important;
    height: 100px !important;
    margin: auto;
    line-height: 100px;
}

.dropbox-border {
    border-color: #003057 !important;
    border-style: solid;
    border-width: 2px;
}

.upload-table-center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
#form-container {
    width: 100%;
    text-align: center;
}
#form {
    display: inline-block;
}

input:invalid {
    border: 1px dashed red;
}

textarea:invalid {
    border: 1px dashed red;
}

.sidebar-border .edit-profile-border{
    border-color: #003057 !important;
    border-style: solid;
    border-width: 2px;
}

.accordion-button{
    background-color: #003057 !important;
    color: white !important;
}

.accordion-border {
    border-color: #003057 !important;
    border-style: solid;
    border-width: 2px;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}