body {
  margin: 0;
  padding: 0;
   font-family: montserrat;
}

.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   background: white;
   border-radius: 10px;
   border:1px solid #003057;
}

.container h1 {
 text-align: center;
 padding: 0 0 20px 0;
 border-bottom: 1px solid silver;
}

.container form{
 padding: 0 40px;
 box-sizing: border-box;
}

form .txt_field {
 position: relative;
 border-bottom: 2px solid #adadad;
 margin: 30px 0;

}

.txt_field input {
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border:none;
background:#F5F5F5;
outline:none;

}

.txt_field label{
 position: absolute;
 top: 50%;
 left: 5px;
 color: #adadad;
 transform: translateY(-50%);
 font-size: 16px;
 pointer-events: none;
 transition: .5s;
}

.txt_field span::before{
content: '';
position:absolute;
top:40px;
left:0;
width: 0%;
height: 2px;
background:#2691d9;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0s, opacity 0s linear;

}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;

}

input[type="submit"]{
width: 100%;
height: 50px;
border: 1px solid;
background: #003057;
border-radius: 25px;
font-size 19px;
color:  #e9f4fb;
font-weight: 500;
cursor:pointer;
outline:none;
}

input[type="submit"]:hover{
border-color: #2691d9;
transition: .5s;
}

.signup{
margin: 30px 0;
text-align: center;
font-size: 16px

}

.signup a{
color: #2691d9;
text-decoration: none;

}

.signup a:hover{

text-decoration: none;

}